################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dress-Up/Dress-Up-Models/obj
/.vs
/Dress-Up/.vs/Dress-Up/v17
/Dress-Up/Models-Dress-Up/.vs/Models-Dress-Up
/Dress-Up/Models-Dress-Up/obj
/Dress-Up/Dress-Up-Models/bin/Debug/net6.0
/Dress-Up/.vs/Dress-Up/DesignTimeBuild
/Dress-Up/Dress-Up-Models/Migrations
