################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dress-Up/Dress-Up-Models/obj
/.vs
/Dress-Up/.vs/Dress-Up/v17
/Dress-Up/.vs/Dress-Up/DesignTimeBuild
